.ap-dialog {
    background-color: var(--ref-color-white);
    border-radius: var(--ref-border-radius-md);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.ap-dialog-header {
    display: flex;
    flex-direction: column;
    gap: var(--ref-spacing-xxxs);
    padding: var(--ref-spacing-lg) var(--ref-spacing-lg) 0;
    padding-right: 64px;
}

.ap-dialog-title {
    font-size: var(--ref-font-size-xxl);
    font-weight: var(--ref-font-weight-bold);
    line-height: var(--ref-font-line-height-xl);
    color: var(--ref-color-grey-100);
    margin: 0;
}

.ap-dialog-subtitle {
    font-size: var(--ref-font-size-md);
    line-height: var(--ref-font-line-height-lg);
    color: var(--ref-color-grey-80);
}

.ap-dialog-content {
    display: flex;
    flex-direction: column;
    gap: var(--ref-spacing-md);
    padding: var(--ref-spacing-md) var(--ref-spacing-lg);
}

.ap-dialog-footer {
    border-top: 1px solid var(--ref-color-grey-10);
    display: flex;
    align-items: center;
    gap: var(--ref-spacing-sm);
    padding: var(--ref-spacing-sm) var(--ref-spacing-lg);
}

.ap-dialog-footer-left {
    display: flex;
    align-items: center;
    gap: var(--ref-spacing-sm);
}

.ap-dialog-footer-right {
    display: flex;
    align-items: center;
    gap: var(--ref-spacing-sm);
    flex: 1;
    justify-content: flex-end;
}

.ap-dialog-close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: var(--ref-border-radius-md);
    cursor: pointer;
    background: none;
    border: none;
    color: var(--ref-color-grey-100);
    display: flex;
    align-items: center;
    justify-content: center;
}
